<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [17]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [20]:
!pip install -q pandas==1.1.5

In [21]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [22]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [7]:
cur.execute('''SELECT DISTINCT("Launch_Site") FROM  SPACEXTBL''')
output_1 = cur.fetchall()
for name in output_1:
    print(name)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [8]:
cur.execute('''SELECT "Launch_Site" FROM SPACEXTBL WHERE "Launch_Site" LIKE "CCA%" LIMIT 5 ''')
output_2 = cur.fetchall()
for result in output_2:
    print(result)

('CCAFS LC-40',)
('CCAFS LC-40',)
('CCAFS LC-40',)
('CCAFS LC-40',)
('CCAFS LC-40',)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [9]:
cur.execute('''SELECT SUM("PAYLOAD_MASS__KG_") FROM SPACEXTBL WHERE "Customer" LIKE "NASA%"''')
output_3 = cur.fetchall()
for mass in output_3:
    print(mass)

(99980,)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [10]:
cur.execute('''SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE "Booster_Version" LIKE "F9 v1.1%" ''')
output_4 = cur.fetchall()
for x in output_4:
    print(x)

(2534.6666666666665,)

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [11]:
#MIN function returned 01/2017 since its reading dates as strings. I used limit instead to retrieve first value
#since the date values are in ascending order

cur.execute('''SELECT "Date" FROM SPACEXTBL 
WHERE "Landing _Outcome" = "Success (ground pad)" 
LIMIT 1''')
output_5 = cur.fetchall()
for x in output_5:
    print(x)

('22-12-2015',)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [16]:
cur.execute('''
SELECT DISTINCT ("Booster_Version") FROM SPACEXTBL
WHERE PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000
AND "Landing _Outcome" = "Success (drone ship)"
''')
output_6 = cur.fetchall()
for x in output_6:
    print(x)

('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT  B1021.2',)
('F9 FT  B1031.2',)

### Task 7




##### List the total number of successful and failure mission outcomes

In [13]:
cur.execute('''
SELECT COUNT(*) FROM SPACEXTBL
WHERE "Mission_Outcome" LIKE "Success%"
''')
output_7a = cur.fetchall()
for x in output_7a:
    print(x)

(100,)

In [14]:
cur.execute('''
SELECT COUNT(*) FROM SPACEXTBL
WHERE "Mission_Outcome" LIKE "Failure%"
''')
output_7b = cur.fetchall()
for x in output_7b:
    print(x)

(1,)

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [15]:
cur.execute('''
SELECT DISTINCT("Booster_Version") FROM SPACEXTBL
WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)
''')

output8 = cur.fetchall()
for x in output8:
    print(x)

('F9 B5 B1048.4',)
('F9 B5 B1049.4',)
('F9 B5 B1051.3',)
('F9 B5 B1056.4',)
('F9 B5 B1048.5',)
('F9 B5 B1051.4',)
('F9 B5 B1049.5',)
('F9 B5 B1060.2 ',)
('F9 B5 B1058.3 ',)
('F9 B5 B1051.6',)
('F9 B5 B1060.3',)
('F9 B5 B1049.7 ',)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [25]:
cur.execute('''
SELECT substr("Date",4,2), "Landing _Outcome", "Booster_Version", "Launch_Site"
FROM SPACEXTBL
WHERE substr("Date",7,4) = "2015"
AND "Landing _Outcome" = "Failure (drone ship)"
''')
output9 = cur.fetchall()
for x in output9:
    print(x)

('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [30]:
#I don't understand this question won't all the counts just be 1?
#There aren't multiple landings on a single date

cur.execute('''
SELECT "Date", COUNT("Landing _Outcome") FROM SPACEXTBL
WHERE "Landing _Outcome" LIKE "Success%"
AND "Date" BETWEEN "04-06-2010" AND "20-03-2017"
GROUP BY "Date"
''')

output10 = cur.fetchall()
for x in output10:
    print(x)

('04-06-2020', 1)
('05-11-2020', 1)
('05-12-2019', 1)
('06-05-2016', 1)
('06-10-2020', 1)
('06-12-2020', 1)
('07-01-2020', 1)
('07-03-2020', 1)
('07-08-2018', 1)
('07-08-2020', 1)
('07-09-2017', 1)
('08-01-2018', 1)
('08-04-2016', 1)
('08-10-2018', 1)
('09-10-2017', 1)
('10-09-2018', 1)
('11-01-2019', 1)
('11-05-2018', 1)
('11-10-2017', 1)
('11-11-2019', 1)
('12-06-2019', 1)
('13-06-2020', 1)
('14-01-2017', 1)
('14-08-2016', 1)
('14-08-2017', 1)
('15-11-2018', 1)
('15-12-2017', 1)
('16-11-2020', 1)
('17-12-2019', 1)
('18-04-2018', 1)
('18-07-2016', 1)
('18-08-2020', 1)
('18-10-2020', 1)
('19-02-2017', 1)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>